<div class="user-form-container">
  <h2>Cadastro de Usuários</h2>

  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input
        type="text"
        id="nome"
        [(ngModel)]="user.nome"
        name="nome"
        required
        #nome="ngModel" />

      <div *ngIf="nome.invalid && nome.touched" class="error-msg">
        O nome é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input
        type="password"
        id="senha"
        [(ngModel)]="user.senha"
        name="senha"
        required
        #senha="ngModel" />

      <div *ngIf="senha.invalid && senha.touched" class="error-msg">
        A senha é obrigatória.
      </div>
    </div>

    <div class="form-group">
      <label for="perfil">Perfil:</label>
      <select id="perfil" [(ngModel)]="user.perfil" name="perfil" required>
        <option *ngFor="let perfil of perfis" [ngValue]="perfil">{{ perfil.nome }}</option>
      </select>
    </div>

    <button type="submit" class="btn" [disabled]="userForm.invalid">
      {{ isEdit ? 'Salvar' : 'Adicionar Usuário' }}
    </button>
  </form>
</div>
